{% extends 'admin_panel/getting-start.html' %}
{% block content %}
<h1>Create your website</h1>
<form class="mb-4" action="{{ url_for('website.index') }}">
    <label>Add your website name:</label>
    <input type="text" placeholder="Name of your website">
    <br>
    <input type="radio" id="blank" name="theme" value="blank">
    <label for="blank">Blank page</label>
    <br>
    <input type="radio" id="theme" name="theme">
    <label for="blank">Existing theme</label>
    <br>
    <input type="submit" value="Create website">
</form>

<legend>Or choose one of existing website theme:</legend>

<h6 class="mb-4">To preview click the picture</h6>
<div class="row">
    <div class="col-lg-4 mb-4">
    <a href="{{ url_for('main_panel.hotel_website') }}">
        <img src="/static/images/hotel_image.png"  width="350px" height="300px" alt="">
    </a>
    Hotel
    </div>
    <div class="col-lg-4 mb-4">
    <a href="{{ url_for('main_panel.travel_website') }}">
    <img src="/static/images/travel_image.png" width="350px" height="300px" alt="">
    </a>
    Travel
    </div>
    <div class="col-lg-4 mb-4">
    <a href="{{ url_for('main_panel.paiting_website') }}">
    <img src="/static/images/painting_image.png" width="350px" height="300px" alt="">
    </a>
    Painting
    </div>
</div>
{% endblock content %}