{% extends 'admin_panel/layout.html' %}
{% block content %}
<div class="col-lg-5 mt-4 text-center">
    <div class="belka_block mt-4 mb-6">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <!-- Login -->
            {% if form.username.errors %}
                {{ form.username(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username() }}
            {% endif %}
            <!-- Email -->
            {% if form.email.errors %}
                {{ form.email(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>

                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="") }}
            {% endif %}
            <!-- Password -->
            {% if form.password.errors %}
            {{ form.password(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>

                    {% endfor %}
                </div>
            {% else %}
                {{ form.password() }}
            {% endif %}
            <!-- Confirm password -->
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>

                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password() }}
            {% endif %}
            <!-- Choose role -->
            {% if form.confirm_password.errors %}
            {{ form.user_role(class="is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.user_role.errors %}
                        <span>{{ error }}</span>

                    {% endfor %}
                </div>
            {% else %}
            <div class="custom-control custom-radio">
                {{ form.user_role() }}
            </div>
            {% endif %}
            {{ form.submit(class="btn btn-outline-info") }}          
        </form>
    </div>
</div>
{% endblock content %}