{% extends 'admin_panel/layout.html' %}
{% block content %}
<div class="col-lg-5 mt-4 text-center">
    <div class="belka_block mt-4 mb-6">
        <legend class="text-center">Create User</legend>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <!-- Login -->
            {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control mb-2") }}
            {% endif %}
            <!-- Email -->
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>

                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control mb-2") }}
            {% endif %}
            <!-- Password -->
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>

                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control mb-2") }}
            {% endif %}
            <!-- Confirm password -->
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>

                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control mb-2") }}
            {% endif %}
            <!-- Choose role -->
            
            {% if form.user_role.errors %}
            <div class="form-check form-check-inline">
            {{ form.user_role(class="form-check-input is-invalid list-unstyled") }}
                <div class="invalid-feedback">
                        You must choose role for user!
                </div>
            </div>
            {% else %}
            <div class="form-check form-check-inline">
                {{ form.user_role(class="p-2 mr-4 form-check-input is-invalid list-unstyled") }}
            </div>
            {% endif %}
            {{ form.submit(class="btn btn-outline-info") }}    
        </form>
    </div>
</div>
{% endblock content %}