body{
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("/static/images/hexellence.png");
    font-size: 20px;
}

img{
    width: 310px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#login-container{

    background-color: white;
    width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

input{

    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;

}