{% extends 'admin_panel/layout.html' %}
{% block content %}
<h1>Content page</h1>
<p>Here you can choose background for your page
   Choose font style or size of words in your page
</p>
<div class="row">
    <div class="row">
        <div class="col-lg-12 belka_block text-center mt-4">
            <form action="{{ url_for('main_panel.font_style_page')  }}" method="POST">
                <input class="mt-4 btn btn-info btn-lg btn-block" type="submit" value="Change font style">
            </form>
        </div>
        <div class="col-lg-12 belka_block text-center mt-4">
            <form action="{{ url_for('main_panel.font_size_page')  }}" method="POST">
                <input class="mt-4 btn btn-info btn-lg btn-block" type="submit" value="Change font size">
            </form>
        </div>
        <div class="col-lg-12 belka_block text-center mt-4">
            <form action="{{ url_for('main_panel.background_page')  }}" method="POST">
                <input class="mt-4 btn btn-info btn-lg btn-block" type="submit" value="Change Background style">
            </form>
        </div>
    </div>
</div>
{% endblock content %}