<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Sign in to Belka</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
	<link rel="stylesheet" href="/static/sign_in_style.css" type="text/css" />
	
</head>

<body>
	
	<div id="login-container">
		<img src="static/images/belka_logo.png" alt="">
		<form>

			Login
			<input type="text">
			
			<br /><br />
			
			Password
			<input type="password">
			
			<br /><br />
			
			<input type="submit"value="Sign in">
			
		</form>
	</div>
	
</body>
</html>